@media screen and (min-width: 320px) {
  .come-to-us-container-button {
  display: flex;
  flex-direction: column;
  gap: 24px;
  }

  .come-to-us__big-title {
    padding-bottom: 16px;
  }

  .come-to-us-container-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
@media screen and (min-width: 740px) {
  .come-to-us-container-button {
    flex-direction: row;
  }

  .come-to-us-container-button {
    width: fit-content;
  }
}
@media screen and (min-width: 1200px) {
}

.come-to-us {
  background-color: #f9fafb;
  border-radius: 32px;
}

.come-to-us-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  background-color: #f9fafb;
  border-radius: 32px;
}
