@media screen and (min-width: 320px) {
  .need-to-know {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .need-to-know-container-text {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    justify-content: center;

    max-width: 590px;

    padding-bottom: 48px;

    text-align: start;
  }

  .need-to-know-container-text-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .need-to-know-container-text-list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }

  .need-to-know-container-img {
    display: flex;
    gap: 16px;

    max-width: 590px;
    max-height: 100%;
  }

  .need-to-know-container--img {
    display: inline-table;

    width: 47.4%;
    height: 100%;

    border-radius: 10px;
  }
  .need-to-know-container--img:first-child {
    margin-top: 116px;
  }
  .need-to-know-container--img:last-child {
    margin-bottom: 78px;
  }
}
/* @media screen and (min-width: 480px) {
  .need-to-know-container-img {
    display: flex;
    gap: 32px;

    padding-left: 10px;

    max-width: 460px;
  }
} */
@media screen and (min-width: 740px) {
  .need-to-know-container-img {
    max-width: 588px;
    height: 100%;
  }

  .need-to-know-container--img {
    /* max-width: 226px; */
    height: 100%;
  }
  .need-to-know-container--img:first-child {
    margin-top: 142px;
  }
  .need-to-know-container--img:last-child {
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .need-to-know {
    flex-direction: row;
  }

  .need-to-know-container-text {
    height: 610px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .need-to-know-container-text-list {
    gap: 24px;
  }

  .need-to-know-container-text-list-item {
    flex-direction: row;
    align-items: center;
  }

  .need-to-know-container--img {
    display: inline-table;

    /* max-width: 280px; */
    height: 100%;
  }
  .need-to-know-container--img:first-child {
    margin-top: 178px;
  }
  .need-to-know-container--img:last-child {
    margin-bottom: 128px;
  }
}

.need-to-know-container-text__text {
  padding-bottom: 0;
}

.need-to-know__link {
  display: inline-block;
  color: #0072de;

  font-size: 18px;
  line-height: 28px;
}
.need-to-know-container-text__link:focus,
.need-to-know-container-text__link:hover {
  color: #404bbf;
  cursor: pointer;
}

.need-to-know-container-text-list-item__little-title {
  padding-bottom: 0;
}
