@media screen and (min-width: 320px) {
  .uikb-why-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  /* flex-wrap: wrap; */

  width: 100%;

  text-align: start;
  }

  .uikb-why-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  max-width: 358px;
  }

  .uikb-why-list-item-container-text__text {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 740px) {
  .uikb-why-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

  width: 100%;

  text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .uikb-why-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: nowrap;
  }

  .uikb-why-list-item { 
    max-width: 384px;
  }

  .uikb-why-list-item-container-text__text {
    padding-bottom: 32px;
  }
}

.uikb-why {
  padding-top: 0;
}

.uikb-why__title {
  padding-bottom: 64px;
}





.uikb-why-list-item-container-text__text {
  font-size: 16px;
  line-height: 24px;
}