@media screen and (min-width: 320px) {
  .why-for-study-list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 24px;
  }

  .why-for-study__img {
    width: 592px;
    height: 280px;
  
    border-radius: 10px;
  }
}
@media screen and (min-width: 480px) {
  .why-for-study__img {
    height: 364px;
  }
}
@media screen and (min-width: 740px) {
  .why-for-study-list-item {
    flex-direction: row;
  }

  .why-for-study__img {
    height: 446px;
  }

}
@media screen and (min-width: 970px) {
  .why-for-study__img {
    height: 528px;
  }
}
@media screen and (min-width: 1200px) {
  .why-for-study__img {
    width: 592px;
    height: 610px;
  
  }
  
}

.why-for-study {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 32px;
}

.why-for-study-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 48px;
}


.why-for-study-list-item__span-wrapper-svg {
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(219, 238, 255, 1);
}

.why-for-study-container-text {
  text-align: start;

  padding-right: 72px;
  max-width: 590px;
}

.why-for-study-list-item__text {
  padding-bottom: 0;
}



